/gamedata

/code/.vs

/code/libs
/libs

/q3radiant/.vs
/q3radiant/Debug/
/q3radiant/splines/Debug/

/q3map/Debug/

/code/q3_ui/Debug/
/code/q3_ui/Debug_TA/

*.obj

code/.vs/quake3/v16/Browse.VC.db-shm
code/.vs/quake3/v16/Browse.VC.db-wal
code/.vs/quake3/v16/Browse.VC.opendb
code/.vs/quake3/v16/Solution.VC.db-shm
code/.vs/quake3/v16/Solution.VC.db-wal
code/.vs/quake3/v16/ipch/
code/Debug/
code/Debug_TA/
code/botlib/Debug_TA/
code/cgame/Debug_TA/
code/game/Debug_TA/
code/renderer/Debug_TA/
code/splines/Debug/
code/ui/Debug_TA/
code/win32/winquake.res
