/gamedata

/.vs
/code/.vs
/code/baseq3

/code/libs
/libs

/q3radiant/.vs
/q3radiant/Debug/
/q3radiant/splines/Debug/

/q3map/Debug/

/code/q3_ui/Debug/
/code/q3_ui/Debug_TA/

**/Debug/**
**/Debug_TA/**
**/Release/**
**/Release_TA/**
**/*Win32_Debug/**
**/*Win32_vector/**
**/*Win32_vector0/**

*.obj
*.tlog

code/win32/winquake.res
